html, * {
    box-sizing: border-box;
    
}

* {
    padding: 0;
    margin: 0;
}

*::before, *::after{
    box-sizing: inherit;
}


body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    font-family:'Helvetica', 'arial', sans-serif;
    font-size: 10vh;
    line-height: 12vh;
    color: white;
    /* text-shadow: 4px 4px 4px black; */

    background:black;

}

.black_screen {
    position:absolute;
    z-index:10;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:black;
}

.container {
    width:inherit;
    height:inherit;
    position:relative;
}

/*width and height stretch the 1280px x 720px canvas to fill the browser*/
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;

    transition: filter 1s, width 1s, height 1s, top 1s, left 1s;
}

.input_video {
    display:none;
}

.textbox_bg {
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
    width:100vw;
    height:100vh;
    padding:.5em;
    /* background:green; */
    color:white;
    opacity:0;
    transition: opacity .2s;
    font-size:.4em;
    line-height:1.2em;

    display:none;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.left_container, .right_container {
    width:50%;
    position: relative;

    display: grid;
    place-content: center;

}

.left_container .window:not(:first-child), .right_container .window:not(:first-child) {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* background:tomato; */
    /* height:20vh; */

}

.window {
    width:100%;
    border-radius: .5em;
    filter:drop-shadow(5px 5px 10px #000);
    
        /* background: pink; */
}

.textbox {
    /* ??Why doesn't width:100% inherit the 50vw of .eye_container? */
    /* width:40vw; */
    height:auto;
    border-radius: 50%;
    overflow:hidden;
    margin: 0 auto;

    display: grid;
        place-content: center;

        font-size:2em;
        
    /* animation: glow 1s ease infinite; */

    z-index:1;
    
}

.textbox.left {
    background: white;
}

.textbox.right {
    background:white;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
    animation: gradient 1s ease infinite; */
    
}

/* ??For some reason the characters are not exactly aligned across circles? */
.textbox p {
    width: max-content;
    /* position: absolute; */
    /* transform: translateX(100%); */
}

.marquee_2s {
    animation: marquee 2s linear infinite;
}

.marquee_5s {
    animation: marquee 5s linear infinite;
}

.marquee_6s {
    animation: marquee 16s linear infinite;
}

.marquee_7s {
    animation: marquee 7s linear infinite;
}

.marquee_9s {
    transform: translateX(200%);
    animation: marquee 26s linear 3s infinite;
}

.marquee_10s {
    animation: marquee 10s linear infinite;
}

.marquee_13s {
    animation: marquee 13s linear infinite;
}

.marquee_16s {
    animation: marquee 16s linear infinite;
}

.marquee_20s {
    animation: marquee 20s linear infinite;
}


#p_left_2, #p_right_2 {
    /* animation-delay: 5s; */
}

#p_left_3, #p_right_3 {
    /* animation-delay: 10s; */
}

#p_left_4, #p_right_4 {
    /* animation-delay: 15s; */
}

#p_left_5, #p_right_5 {
    /* animation-delay: 20s; */
}

#p_left_6, #p_right_6 {
    /* animation-delay: 25s; */
}

/* ??This isn't working?? */
.image {
    width:100%;
    height:100%;
    background: "img/black_hole_messier.jpeg";
    background-size:cover;

}

@keyframes marquee {
    0% {
        transform: translateX(200%);
    }

    50% {
        /* left: var(--marquee_end); */
        transform: translateX(-70%);
    }


        100% {
            /* left: var(--marquee_end); */
            transform: translateX(-70%);
        }
}

@keyframes glow {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(2);
    }
}
