* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: impactN;
    src: url(fonts/JLImpactNieuw-2019Trial.woff)
}

body {
    background:black;
    color:white;
    width: 100vw;
    height: 100vh;
    /* font-size:100px; */
    overflow:hidden;
    font-family: impactN, 'Helvetica', 'arial', sans-serif;
    /* display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center; */
}

.popup {
    /* width:90%;
    height:90%; */
    font-size: 100px;
    /* background-color: tomato; */
    /* padding: 20px; */
    /* word-break: break-all; */
    /* hyphens: auto; */
}