@property --marquee-end {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

html, * {
    box-sizing: border-box;
    
}

* {
    padding: 0;
    margin: 0;
}

*::before, *::after{
    box-sizing: inherit;
}


body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    font-family:'Helvetica', 'arial', sans-serif;
    font-size: 10vh;
    line-height: 12vh;
    color: white;
    /* text-shadow: 4px 4px 4px black; */

    background:black;

}

.black_screen {
    position:absolute;
    z-index:10;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:black;
}

.container {
    width:inherit;
    height:inherit;
    position:relative;
}

/*width and height stretch the 1280px x 720px canvas to fill the browser*/
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;

    transition: filter 1s, width 1s, height 1s, top 1s, left 1s;
}

.input_video {
    display:none;
}

.textbox_bg {
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
    width:100vw;
    height:100vh;
    padding:.5em;
    /* background:green; */
    color:white;
    opacity:0;
    transition: opacity .2s;
    font-size:.5em;
    line-height:1.2em;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.eye_container {
    position:relative;
    width:50vw;
    height:100vh;

    display: grid;
        place-content: center;
        
    filter: drop-shadow(6px 6px 8px white);
}

.left.eye_container {
    /* background:pink; */
}

.right.eye_container {
    /* background: green; */
}

/* ?? This doesn't work?? */
.window {
    border-radius: .5em;
        background: pink;
}

.textbox {
    /* ??Why doesn't width:100% inherit the 50vw of .eye_container? */
    width:40vw;
    height:auto;

    display: grid;
        place-content: center;

        /* font-size:2em; */
        font-size:1em;
        line-height:1em;

}

.textbox.left {
    background:red;
    background: white;
}


.textbox.right {
    background:blue;
    background:white;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
    animation: gradient 1s ease infinite; */
    
}

.textbox p, .bottom_bar p {
    
    /* width: max-content; */
    position: absolute;
    

    /* animation: marquee 20s linear infinite;  */
    /* left: var(--marquee-end); */
}

.textbox p {
    left: 0;
        top: 0;
        transform:translateY(50%);
        padding:1em;
}


.top_bar, .bottom_bar {
    width: 100%;
    min-height:5%;
    padding:5%;
    display:flex;
    flex-flow:row wrap;
    align-items: center;

    /* ?? why doesnt this padding work? */
    /* padding:5%; */
}

.top_bar {
    background: linear-gradient(-45deg, darkgrey, white, lightgrey, grey);
        background-size: 400% 400%;
        animation: gradient 1s ease infinite;
}

.bottom_bar {
    background:blue;
    font-size: 0.25em;
    /* ??This doesn't work. How do I hide the extra marquee without using masking in js, like for the textbox text? */
    overflow:hidden;
}

.bottom_bar p {
    width: max-content;
    animation: marquee 20s linear infinite; 
}
.quit_btn {
    width:15%;
    aspect-ratio: 1;
    margin: 0 2%;
    font-size:.4em;
    color:black;
    border-radius:50%;
    display:inline-flex;
    justify-content: center;
    align-items:center;
}

.quit_btn.red {
    background:red;
}
.quit_btn.yellow {
    background:yellow;
}
.quit_btn.green {
    background:green;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* @keyframes marquee {
    0% {
        --marquee_end: 100
    }

    100% {
        --marquee_end: -100
    }
} */

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    70% {
        /* left: var(--marquee_end); */
        transform: translateX(-200%);
    }


    100% {
        /* left: var(--marquee_end); */
        transform: translateX(-200%);
    }
}

.scroll_up {
    animation: scroll_up 1s ease-out;
}

@keyframes scroll_up {
    0% {
            transform: translateY(100%);
        }
    
    
        100% {
            transform: translateY(0%);
        }
}